/*form*/
.form-mobile{

}
.form-mobile .form-group{
    display:block;
}
.form-mobile .form-group label{
    display:block;
}
.form-mobile .form-group label .inline{
    display:inline;
}
.form-mobile .form-group input{
    display:block;
    border-radius:5px;
    border:1px solid #A9A9A9;
}
.form-mobile .form-group input .inline{
    display:inline;
    border-radius:5px;
    border:1px solid #A9A9A9;
}
.form-mobile .form-group .error{
    display:block;
    color:red;
}
.form-mobile .form-group .error .inline{
    display:inline;
    color:red;
}
.form-mobile .form-group select .none{
    outline:none;
}
.form-mobile .form-group select{
    display:block;
    border-radius:5px;
    border:1px solid #A9A9A9;
}
.form-mobile .form-group select .inline{
    display:inline;
    border-radius:5px;
    border:1px solid #A9A9A9;
}.form-mobile .form-group textarea{
    display:block;
    border-radius:5px;
    border:1px solid #A9A9A9;
}
.form-mobile .form-group textarea .inline{
    display:inline;
    border-radius:5px;
    border:1px solid #A9A9A9;
}



/*button*/
/*
button .fff, [type=button] .fff{
        background-color:#009688;
        color:#fff;
}
button:hover, [type=button]:hover{
        background-color:rgba(38, 166, 154, 0.5);
        color:#fff;
}
button [disabled]{
        background-color:rgba(211, 211, 211);
        color:#fff;
}
*/


/*边距*/
.mt1{margin-top:1px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt11{margin-top:11px;}
.mt12{margin-top:12px;}
.mt15{margin-top:15px;}
.mt18{margin-top:18px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}
.mt65{margin-top:65px;}
.mt70{margin-top:70px;}
.mt75{margin-top:75px;}
.mt80{margin-top:80px;}
.mt85{margin-top:85px;}
.mt90{margin-top:90px;}
.mt95{margin-top:95px;}
.mt100{margin-top:100px;}
.mt150{margin-top:150px;}
.mt200{margin-top:200px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.ml3{margin-left:3px;}
.ml5{margin-left:5px;}
.ml6{margin-left:6px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.mr3{margin-right:3px;}
.mr5{margin-right:5px;}
.mr6{margin-right:6px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.p5{padding:5px;}
.p10{padding:10px;}
.pt2{padding-top:2px;}
.pt5{padding-top:5px;}
.pt8{padding-top:8px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pb5{padding-bottom:5px;}
.pb8{padding-bottom:8px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pl3{padding-left:3px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl13{padding-left:13px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pr3{padding-right:3px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;}

.ml-10{margin-left:15%;}





/*宽高*/
.h10{height:10px!important;}
.h20{height:20px!important;}
.h30{height:30px!important;}
.h40{height:40px!important;}
.h50{height:50px!important;}
.h51{height:51px!important;}
.h60{height:60px!important;}
.h70{height:70px!important;}
.h80{height:80px!important;}
.h90{height:90px!important;}
.h100{height:100px!important;}
.h102{height:102px!important;}
.h150{height:150px!important;}
.h-100{height:100%;}
.w1{width:1%;}
.w5{width:5%;}
.w10{width:10%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w33{width:33.333%;}
.w40{width:40%;}
.w50{width:50%;}
.w60{width:60%;}
.w70{width:70%;}
.w75{width:75%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}
.w-10{width:10px;}
.w-20{width:20px;}
.w-30{width:30px;}
.w-40{width:40px;}
.w-50{width:50px;}
.w-60{width:60px;}
.w-70{width:70px;}
.w-80{width:80px;}
.w-90{width:90px;}
.w-100{width:100px;}
.w-110{width:110px;}
.w2p{width:2px!important;}
.w9p{width:9px!important;}
.w11p{width:11px!important;}
.w20p{width:20px!important;}
.w25p{width:25px!important;}
.w30p{width:30px!important;}
.w40p{width:40px!important;}
.w43p{width:43px!important;}
.w50p{width:50px!important;}
.w56p{width:56px!important;}
.w60p{width:60px!important;}
.w80p{width:80px!important;}
.w81p{width:81px!important;}
.w90p{width:90px!important;}
.w95p{width:95px!important;}
.w100p{width:100px!important;}
.w110p{width:110px!important;}
.h5p{height:5px!important;}
.h10p{height:10px!important;}
.h60p{height:60px!important;}
.h75p{height:75px!important;}
.b102p{bottom:102px;}




.inline{display:inline;}
.inline-block{display:inline-block;}
.pull-left{float:left;}
.pull-right{float:right!important;}

.solid-type{border:1px solid #ededed;}
a .none{text-decoration:none;}
.hide{display:none;}


/*font*/

.font-w{font-weight:bold;}
.font-s12{font-size:12px!important;}
.font-s15{font-size:15px!important;}
.font-s14{font-size:14px!important;}
.font-s16{font-size:16px!important;}
.font-s18{font-size:18px!important;}
.line-h{line-height:30px;}
.line-h1e{line-height:1em;}


/*background-color*/
.bg-white{background-color: #fff;}
.bg-fff{background-color:#fff;}
.bg-ddd{background-color:#ddd;}
.bg-green{background-color:#19aea5;}
.bg-red{background-color:#d9534f;}
.bg-gray{background-color:rgba(221, 221, 221, 0.58);}
.bg-yellow{background-color:#fe8c08!important;}
.color-000{color:#333333!important;}
.color-ddd{color:#ddd;}
.color-fff{color:#fff!important;}
.color-green{color:#19aea6!important;}
.color-green2{color:#18aea5;}
.color-red{color:red;}
.color-red1{color:#e61e19!important;}
.color-yellow{color:#FDA01A;}
.color-yellow1{color:#ff8c08;}
.color-gray{color:#A9A9A9;}
.color-black{color: #333333!important;}
.color-black2{color:#003333!important;}
.color-black3{color:#333333;}
.color-black6{color:#666666;}
.color-gray4{color:#999999!important;}

/*button*/
.yellow-button{border-radius: 5px;background-color: #fe8c08;line-height: 1em;color: #fff;height:32px;padding-top: 7px;}

/*border*/
.b-a9{border:1px solid #A9A9A9;}
.bb-a9{border-bottom:1px solid #A9A9A9;}
.b-r{border-radius:5px;}
.b-d{border:1px dashed #A9A9A9;}
.b-gray-b{border-bottom:1px solid #e2e2e2;}
.b-gray-r{border-right:1px solid #A9A9A9;}
.b-gray-r1{border-right:1px solid #dddddd;}
.b-gray{border:1px solid #A9A9A9;}
.b-gray-t{border-top:1px solid #e2e2e2;}
.b-gray-t2{border-top:1px solid #dddddd;}
.b-green-t{border-top:1px solid #18aea5;}
.b-green-b{border-bottom:1px solid #18aea5;}
.b-green-b1{border-bottom:1px solid #06c1ac;}
.br-gray{border-right:1px solid #dfdfdf;}
.bb-gray{border-bottom:1px solid #dfdfdf;}
.bb-gray3{border-bottom:1px solid #f2f2f2;}
.bt-gray2{border-top:1px solid #e1e1e1;}
.bb-gray2{border-bottom:1px solid #e1e1e1;}
.bb10-gray{border-bottom:10px solid #efefef;}
.bb-green{border-bottom: 1px solid #19aea6;}
.bt5-gray{border-top: 5px solid #E4E4E4;}
.bb5-gray{border-bottom: 5px solid #E4E4E4;}





/*button*/
.btn-green{background-color:#19aea5;color:#fff!important;border-radius:5px}
.btn-green2{background-color:#18aea5;color:#fff!important;border-radius:5px;padding:8px 10px;}
.btn-gray{background-color:#dfdfdf;color:#333!important;border-radius:5px;padding:8px 10px;}
.btn-fff{border:1px solid #A9A9A9;background-color:#fff;color:#000;}
.btn-over{padding:4px 10px;border:1px solid #ddd;background-color:#dfdfdf;}
.btn-full{display: block!important;width: 100%;padding: 10px!important;}
.btn-yellow {background-color: #fe8c08;width: 60%;display: block;margin: 5px auto;}

/**/
.p-a{padding:auto;}

/*text-align*/
.text-center{text-align:center!important;}
.text-left{text-align:left!important;}
.text-right{text-align:right!important;}
.text-justify{text-align:justify!important;}
/*vertical-align*/
.vertical-bottom{vertical-align:bottom!important;}

/*a加下划线*/
.a-underline{text-decoration:underline;  }