/****  ****/
body,p,h1,h4{color: #333;letter-spacing: 1px;line-height: 1.5;font-weight:200;font-family: 'Microsoft YaHei', 微软雅黑, 'Microsoft Yahei', 黑体, 宋体, Arial, Simsun, Helvetica, sans-serif !important;}
.label{padding: 5px;}
a{color:#333;display: inline!important;}
.pad1{padding: 1em;}
section.active{top:44px;}
//#section_container article.active{padding: 1em;}
img{max-width: 100%;}
div.error,div.errorMessage{color: #E21E1A;font-size: 12px;margin-top: -10px;}
.btn{border-radius: 5px;border:none;text-align: center;padding: 3px 5px;}
.btn-block{display: block!important;width: 95%;margin: 5px 2.5%!important;padding: 10px!important;}
.btn-yes{background-color:#19aea5!important;color: #fff!important;}
.btn-default{border: 1px solid #ddd;background-color: #e4e4e4!important;}
.divider{border-bottom: 1px solid #ddd;}
.divider-green{border-bottom: 1px solid #19aea5;}
.color-white{color: #fff;}
.ui-grid-a>.ui-block-a,.ui-grid-a>.ui-block-b{width: 50%;float: left;}
form label{margin-bottom: 5px!important;}
.font-type{font-size:17px;}
select{background-image:none;}
#jingle_popup.loading>#tag_close_popup{display: none;}
form span.required{display: none;}
/*保存按钮无边框*/
.btn-none input{border:none;}
.btn-none input:focus{outline:none;}
/*提示*/
#jingle_toast {top:50%;}
#jingle_toast>a{background-color: #999;color: #fff!important;}
#jingle_popup{text-align: center;}
#jingle_popup_mask.active{opacity: 0.3!important;display: block!important;min-height: 60em;}
.popup-title{text-align: center;font-size: 20px;}
#popup_btn_container>a{display: block!important;}
.imgpopup{padding: 2.3em;background-color:rgba(0,0,0,0.3);}
.pad2{padding: 2.3em;}
#tag_close_popup {color: #fff!important;}
#successConfirm,#deleteConfirm{background-color: #fff;position: fixed;}
#jingle_toast{position: fixed;z-index: 999;}
/**** header ****/
header{border-bottom:1px solid #A9A9A9!important;background-color:#fff;}
header nav.right{background-color: #fff;border-radius: 50%;width: 1.7em;height: 1.7em;padding: 0;line-height: 1.5em;margin-top: 8px;margin-right: 5px;}
header nav.right a>.icon{font-size: 1.3em;color: #19aea5!important;line-height: 1.3em;}
header nav.right .header-user{height: 28px;}
/**** doctor view ****/
#main_section .list a,#account_section .list a{display: block!important;}
.verified{margin-top: -0.5em;}
.unverified{background-color: #999;color: #fff;padding: 5px 10px;border-radius: 5px;}
/**** 删除提醒 ****/
.confirmPage .btn{display: block;}
.confirmPage{display: none;position: fixed;margin:0;text-align: center;top: 39px;width: 100%;min-height: 44em;z-index: 999;background-color:rgba( 0, 0, 0, 0.5 );padding: 40% 0;}
.confirmPage .confirmcontent{width: 90%;margin: 0 auto;background-color: #fff;padding: 1em;}
#imgConfirm{padding: 1em;}
/**** 上传病历 ****/
.patientinfo span{padding: 0 9px;}
.border-right{border-right: 1px solid #888;}
.form-wrapper .ui-grid-b .ui-block-a,.ui-grid-b .ui-block-c{width: 45%;float: left;}
.form-wrapper .ui-grid-b .ui-block-b{width: 10%;padding: 14px 0;text-align: center;float: left;}
.form-wrapper .ui-popup-container{max-width: 375px;width: 100%;bottom:16em!important;top:auto!important;}
.form-wrapper .example{border: 1px dotted #888;margin: 30px 10px 10px;padding: 10px;}
.form-wrapper .example .ui-grid-b .ui-block-a,.example .ui-grid-b .ui-block-c{width: 40%}
.form-wrapper .example .ui-grid-b .ui-block-b{width: 20%;text-align: center;padding-top: 30px;}
.form-wrapper .example .ui-grid-b .ui-block-b span{vertical-align: middle;}

.imglist .filelist {list-style: none;margin: 0;padding: 0;}
.imglist li {width: 50%;height: 140px;text-align: center;margin: 0 0px 10px 0;padding: 0 10px;overflow: hidden;font-size: 12px;float: left;position: relative;display: inline;}
.imglist .filelist li p.imgWrap {position: relative;z-index: 2;line-height: 110px;margin: 0 auto;vertical-align: middle;overflow: hidden;/* width: 110px; */height: 110px;-webkit-transform-origin: 50% 50%;-moz-transform-origin: 50% 50%;-o-transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;transform-origin: 50% 50%;-webit-transition: 200ms ease-out;-moz-transition: 200ms ease-out;-o-transition: 200ms ease-out;-ms-transition: 200ms ease-out;transition: 200ms ease-out;}
.imglist .filelist div.file-panel {position: absolute;height: 30px!important;background-color: #d9534f!important;width: 90%;top: 115px;left: 5%; padding: 0 10px; overflow: hidden;z-index: 300;text-align: center;color: #fff;}
/**** android 上传病历 ****/
.uploadfile{padding-top: 20px;}
.uploadfile:before{content: '选择文件';padding: 10px 15px;font-size: 14px;background-color: #00b7ee;color: #fff;border-radius: 5px;}
.uploadfile{position:relative;}
.uploadfile input[type="file"]{position:absolute;top:10px;right:35%;width:30%;line-height:36px;opacity:0;}
.MultiFile-list{margin-top: 10px;}
.MultiFile-list .MultiFile-label{margin: 3px 0;}
.MultiFile-list .MultiFile-label .MultiFile-remove{color: #f00;font-size: 16px;padding-right: 10px;text-decoration: initial;}

.confirm{display: none;position: absolute;z-index: 999;background-color:rgba(0,0,0,0.3);box-shadow: 1px 1px 1px #ddd;border: 1px solid #ddd;}
/**** calendar ****/
.jingle-calendar-body td.disabled{background-color: #ddd!important;}
/**** order ****/
#order{line-height: 2em;font-size: 18px;padding: 1em;}
#order .order-content{color: #333;font-size: 16px;}
#order .order-content .title{display: inline-block;width: 5em;font-size: 16px;}
#order .ch{text-align:center;}
#order  .up{background-color: #e4e4e4;border:1px solid #ddd!important;border-radius:10px;background-position:center;background-repeat:no-repeat;width:190px!important;margin:5px auto 0!important;padding:10px!important;}
#order .alipay{background-image: url(../images/icons/ic-alipay.png);}
#order .yeepay{background-image: url(../images/icons/ic-yeepay.png);}
#order .weixin{background-image: url(../images/icons/ic-weixin.png);}
/**** patientBooking view ****/
//#patientBookingView{padding: 1em;}
#patientBookingView .title{color:#19aea5;padding: 0!important;}
#patientBookingView .patientinfo{margin-bottom: 1em;letter-spacing: 2px;}
#patientBookingView .patientinfo span{padding: 0px 9px;}
#patientBookingView .patientinfo .patientname{padding-left: 0;}
#patientBookingView .border-right{border-right: 1px solid #888;}
#patientBookingView .payment .ui-grid-a>.ui-block-a{width: 60%;float: left;}
#patientBookingView .payment .ui-grid-a>.ui-block-b{width: 40%;float: left;}
#patientBookingView .payment .money{border: 1px solid #ddd;font-size: 18px;padding: 10px 0;}
#patientBookingView .payment .pay-btn{font-size: 18px;padding: 10px 0;display: block;border-radius: 0!important;border: 1px solid #19aea5!important;display: block!important;}
#patientBookingView .payment .hasPay{font-size: 18px;padding: 10px 0;border: 1px solid #ddd;background-color: #dfdfdf;}
.imglist .col-1{padding: 0 10px;}
.imglist img{background-color: #fff;margin: 10px 0;height: 100px;width: 100%;}
.confirmPage .confirmcontent{width: 100%;padding: 0;}
#patientBookingView .pad5{padding: 3px 5px;}
/**** patient list ****/
.color-change div.active{background:#19aea5;color:#fff;}
.div-col{z-index:99;background-color:#00897b!important;}
.b-leftGreen{border-top:1px solid #A9A9A9;border-bottom:1px solid #A9A9A9;border-left:4px solid #19aea5;border-right:1px solid #A9A9A9;}
.headerMenu .grid{border: 1px solid #ddd;}
.headerMenu .bookingMenu{padding: 10px;}
.headerMenu .bookingMenu.active{background-color: #19aea5;color: #fff;}
/**** doctorInfo ****/
.doctorInfo .grid .title{width:5em;}
/**** profile ****/
.terms{display: none;position: absolute;top: 0;background-color: #fff;z-index: 9;padding: 10px;font-size: 14px;}
#termslink{text-decoration: underline;}
.strong{font-weight: bold;}
/*专家签约*/
#sign .bgImgGreen{background:url(../images/bg-green.png) no-repeat;background-size:120px 26px;height:26px;color:#fff;}

/**/
#popup_btn_container>div>a {
    -webkit-box-flex: 1;
    box-flex: 1;
    padding: 10px;
    display: block;
    color: #222;
    border: 1px solid rgba(0,0,0,.2);
    border-left: 0;
    border-bottom: 0;
}
#popup_btn_container>div>a {
    display: block!important;
}

/*签约医生*/
#contractDoctors_nav.header-secondary{
    height: 50px;
}
#contractDoctors_nav .grayImg>img{
    margin-left:10px;
    width:10px;
    height:10px;
}
#contractDoctors_article .imgDoc{
    display: block;
    width: 100px;
    border-radius: 5px;
    z-index: 0;
    overflow: hidden;
}
#contractDoctors_article{
    line-height: 1.5;
    font-size: 14px;
}
#contractDoctors_article .sign{
    font-size:12px;
    text-align:center;
    background-color:#ee7635;
    color:#fff;
    border-radius:3px;
}
#contractDoctors_article #highDept ul.list {
    background-color: #efefef;
}
#contractDoctors_article #highDept ul.list>li {
    border-bottom: 1px solid #efefef;
}
#contractDoctors_article .button, button {
    padding: 10px 10px;
}

/*医生详情*/
#viewDoctor_nav{
    font-size: 14px;
}
#viewDoctor_nav .doctorInf{
    padding: 15px;
    background-color: #ffffff;
}
#viewDoctor_nav .imgDiv{
    width:70px;
    height:70px;
    border-radius: 50%;
    overflow: hidden;
}
#viewDoctor_nav .imgDoc{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 0;
}
#viewDoctor_nav a{
    display: inherit!important;
}
#viewDoctor_nav .button{
    padding:4px 20px 0px;
}
#viewDoctor_article{
    background-color: #eeeeee;
}
#viewDoctor_article .divSC{
    padding: 15px;
    margin: 10px 5px 0px;
    background-color: #ffffff!important;
    border-radius: 7px;
}
@media screen and (max-width:360px){
    #viewDoctor_article .bgSC{
        padding-left:25px;
        background:url('../images/shanchang.png') no-repeat;
        background-size:16px 16px;
        background-position: 2px 3px;
    }
}
@media screen and (min-width:361px){
    #viewDoctor_article .bgSC{
        padding-left:25px;
        background:url('../images/shanchang.png') no-repeat;
        background-size:22px 22px;
    }
}
#viewDoctor_article .divCareer{
    padding: 15px;
    margin: 10px 5px 0px;
    background-color: #ffffff!important;
    border-radius: 7px;
}
@media screen and (max-width:360px){
    #viewDoctor_article .bgCareer{
        padding-left:25px;
        background:url('../images/career.png') no-repeat;
        background-size:16px 16px;
        background-position: 2px 3px;
    }
}
@media screen and (min-width:361px){
    #viewDoctor_article .bgCareer{
        padding-left:25px;
        background:url('../images/career.png') no-repeat;
        background-size:21px 21px;
    }
}
/*小页面字体设置*/
@media screen and (max-width:360px){
    #viewDoctor_article .aFontSize{
        font-size: 14px;
    }
    #viewDoctor_article .bFontSize{
        font-size: 12px;
    }
}
#viewDoctor_article .divHonor{
    padding: 15px;
    margin: 10px 5px 0px;
    background-color: #ffffff!important;
    border-radius: 7px;
}
@media screen and (max-width:360px){
    #viewDoctor_article .bgHonor{
        padding-left:25px;
        background:url('../images/honor.png') no-repeat;
        background-size:16px 16px;
        background-position: 3px 3px;
    }
}
@media screen and (min-width:361px){
    #viewDoctor_article .bgHonor{
        padding-left:25px;
        background:url('../images/honor.png') no-repeat;
        background-size:21px 17px;
    }
}
#viewDoctor_article .bgStars{
    padding-left:25px;
    background:url('../images/stars.png') no-repeat;
    background-size:11px 11px;
    background-position:10px 3px;
}
#viewDoctor_article .divTJ{
    margin: 10px 5px 0px 5px;
    border-radius: 7px;
    background-color: #ffffff!important;
    padding: 15px;
    background: url('../images/tuijian.png') no-repeat;
    background-size: 37px 37px;
    background-position-y: 0;
    background-position-x: 100%;
}
@media screen and (max-width:360px){
    #viewDoctor_article .bgReason{
        background: url('../images/reason.png') no-repeat;
        background-size: 20px 20px;
        padding-left: 25px;
        background-position-y: 0px;
    }
}
@media screen and (min-width:361px){
    #viewDoctor_article .bgReason{
        background: url('../images/reason.png') no-repeat;
        background-size: 22px 22px;
        padding-left: 25px;
        background-position-y: 2px;
    }
}
#viewDoctor_article{
    line-height: 1.5;
    font-size: 14px;
}

/*添加患者*/
#addPatient_header nav.right{
    width: auto;
    margin-top: 12px;
    padding: 0px 5px;
    background-color: inherit;
}
#addPatient_article{
    font-size: 14px;
    background-color: #eeeeee;
}
#addPatient_article .patientList{
    border-radius: 5px;
    background-color: #fff;
}
#addPatient_article .doctorInf{
    background: url('../images/patientImg.png') no-repeat;
    background-size: 100% 100%;
}

/*选择患者->就诊意向*/
#createPatientBooking_article .intention{
    border: 1px solid #E7E7E7;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
#createPatientBooking_article .intention.active{
    border: 1px solid #19aea5;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background: url('../images/bookingIntention.png') no-repeat;
    background-size: 15px;
    background-position-x: 100%;
    background-position-y: 100%;
}
#createPatientBooking_article .triangleGreen{
    background: url('../images/triangleGreen.png') no-repeat;
    background-size: 9px auto;
    padding-left: 15px;
    background-position-y: 3px;
}
#createPatientBooking_article .noTravelType{
    color: #E21E1A;
    font-size: 12px;
}

/*个人中心*/
header{
    border-bottom: inherit!important;
}
#doctorView_article{
    background-color: #EEEEEE;
}
#doctorView_article .nextImg{
    background: url('../images/nextImg.png') no-repeat;
    background-position: 95% 50%;
    background-size: 8px 15px;
}
#doctorView_article .list>li.nextImg {
    background: url('../images/nextImg.png') no-repeat;
    background-position: 95% 50%;
    background-size: 8px 15px;
}
#doctorView_article .realNameIcon{
    padding: 2px 5px;
    background-color: #D99431;
    border-radius: 5px;
}
#doctorView_article .myPatients{
    background: url('../images/center/myPatients.png') no-repeat;
    background-size: 20px 20px;
    background-position-y: 1px;
    background-position-x: 20px;
}
#doctorView_article .myBooking{
    background: url('../images/center/myBooking.png') no-repeat;
    background-size: 18px 18px;
    background-position-y: 1px;
    background-position-x: 20px;
}
#doctorView_article .receivedBooking{
    background: url('../images/center/receivedBooking.png') no-repeat;
    background-size: 18px 18px;
    background-position-y: 1px;
    background-position-x: 20px;
}
#doctorView_article .consultingAgreement{
    background: url('../images/center/consultingAgreement.png') no-repeat;
    background-size: 18px 18px;
    background-position-y: 1px;
    background-position-x: 20px;
}
#doctorView_article .signDoctor{
    background: url('../images/center/signDoctor.png') no-repeat;
    background-size: 18px 18px;
    background-position-y: 1px;
    background-position-x: 20px;
}
#doctorView_article .customerService{
    background: url('../images/center/customerService.png') no-repeat;
    background-size: 18px 18px;
    background-position-y: 1px;
    background-position-x: 20px;
}
#doctorView_article .signOut{
    background: url('../images/center/signOut.png') no-repeat;
    background-size: 18px 18px;
    background-position-y: 1px;
    background-position-x: 20px;
}
/*就诊意向*/
#patientBookingCreate_article .intention {
    border: 1px solid #E7E7E7;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
#patientBookingCreate_article .intention.active {
    border: 1px solid #19aea5;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background: url('../images/bookingIntention.png') no-repeat;
    background-size: 15px;
    background-position-x: 100%;
    background-position-y: 100%;
}
#patientBookingCreate_article .noTravelType {
    color: #E21E1A;
    font-size: 12px;
}

/*登录*/
#login_article .inputBorder{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}
#login_article .noPaddingInput{
    padding: 10px 0px 10px 10px;
    margin-bottom: 0px;
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    height: 40px;
}
#login_article .btn-sendSmsCode{
    background-color: #fff!important;
    color: #19aea6!important;
    height: 40px;
    border-radius: 5px;
}
#login_article button.btn-sendSmsCode:disabled{
    color: #ccc!important;
    opacity: 0.5;
}
#login_article .phoneIcon{
    background: url('../images/login/phone.png') no-repeat;
    background-size: 11px 17px;
    background-position: 15px 11px;
    width: 40px;
}
#login_article .lockIcon{
    background: url('../images/login/lock.png') no-repeat;
    background-size: 11px 17px;
    background-position: 15px 11px;
    width: 40px;
}

/*注册*/
#register_article .inputBorder{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}
#register_article .noPaddingInput{
    padding: 10px 0px 10px 10px;
    margin-bottom: 0px;
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    height: 40px;
}
#register_article .btn-sendSmsCode {
    background-color: #fff!important;
    color: #19aea6!important;
    height: 40px;
    border-radius: 5px;
}
#register_article button.btn-sendSmsCode:disabled{
    color: #ccc!important;
    opacity: 0.5;
}
#register_article .smsHide{
    background: url('../images/login/smsHide.png') no-repeat;
    background-size: 21px 16px;
    background-position: 50% 50%;
}
#register_article .smsDisplay{
    background: url('../images/login/smsDisplay.png') no-repeat;
    background-size: 21px 16px;
    background-position: 50% 50%;
}

/*忘记密码*/
#forgetPassword_article .inputBorder{
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}
#forgetPassword_article .noPaddingInput{
    padding: 10px 0px 10px 10px;
    margin-bottom: 0px;
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    height: 40px;
}
#forgetPassword_article .btn-sendSmsCode {
    background-color: #fff!important;
    color: #19aea6!important;
    height: 40px;
    border-radius: 5px;
}
#forgetPassword_article button.btn-sendSmsCode:disabled{
    color: #ccc!important;
    opacity: 0.5;
}
#forgetPassword_article .smsHide{
    background: url('../images/login/smsHide.png') no-repeat;
    background-size: 21px 16px;
    background-position: 50% 50%;
}
#forgetPassword_article .smsDisplay{
    background: url('../images/login/smsDisplay.png') no-repeat;
    background-size: 21px 16px;
    background-position: 50% 50%;
}

/*我的患者*/
#patientList_nav .searchDiv{
    border-radius: 4px;
    background-color: #fff;
    margin-top: 5px;
    color: #333333;
}
#patientList_nav .searchIcon{
    background: url('../images/searchBlack.png') no-repeat;
    background-size: 14px 14px;
    width: 24px;
    background-position-x: 5px;
    background-position-y: 7px;
}

/*支付详情*/
#payOrder_article .imglist li{
    height: inherit;
}
#payOrder_article .popup-title{
    color: #333333;
}
#payOrder_article{
    background-color: #EAEFF1;
}

/*协议*/
#terms_article #terms{
    display: block;
    position: relative;
}

/*登录*/
#login_header .control-group{
    width:180px;
}

/*医生详情*/
#viewDoctor_nav.header-secondary {
    height: auto;
    line-height: 1.5;
}

/*安卓七牛上传*/
.android_article .progressName{
    word-break: break-all;
    word-wrap:break-word;
}
.android_article .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #fff;
}
.android_article .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: inherit;
    padding:0px;
}
.android_article tr .progressCancel{
    font-size: 30px;
    color: #FF1818;
    line-height: 22px;
}
.android_article #container{
    margin-bottom: 0px;
}
.android_article .btn-default{
    background-color: #19aea5!important;
}
.android_article .body .btn-default{
    border: inherit;
    color: #fff;
}
.android_article .btn{
    padding:3px 10px;
}

/*我的患者*/
#patientList_nav.header-secondary{
    top: 0px;
    height: 40px;
    display: inline;
}
#patientList_nav.header-secondary~article{
    top:40px;
}
#patientList_nav.header-secondary{
    background-color: #e1e1e1;
}

/*搜索患者*/
#patientSearchView_nav.header-secondary{
    top: 0px;
    height: 40px;
    display: inline;
}
#patientSearchView_nav.header-secondary input[type=text]{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
    width: 100%;
}
#patientSearchView_nav.header-secondary{
    background-color: #e1e1e1;
}
#patientSearchView_nav.header-secondary~article{
    top:40px;
}

/*我的订单*/
#bookingList_nav.header-secondary{
    top: 0px;
    height: 40px;
}
#bookingList_nav.header-secondary~article{
    top: 40px;
}
#bookingList_nav .control-group li:first-child{
    border-radius: 0px;
}
#bookingList_nav .control-group{
    border-radius: 0px;
}
#bookingList_nav .control-group li:last-child{
    border-radius: 0px;
}
#bookingList_nav .control-group li{
    border: inherit;
}
#bookingList_nav .control-group li>a{
    color: #333333;
}
#bookingList_nav .control-group li.active{
    background: #fff;
}
#bookingList_nav .control-group li.active a, .control-group li.active .icon{
    color: #06c1ae;
}

/*预约详情*/
#patientBookingView_article .list>li{
    padding:10px;
}

/*滴滴医生专题*/
#diDoctor_section{
    top: 0px;
}
#diDoctor_article .placeIcon{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146345690030643') no-repeat;
    background-size: 15px 21px;
    padding-left: 20px;
}
#diDoctor_article .titleIcon{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146345689976835') no-repeat;
    background-size: 15px 16px;
    padding-left: 20px;
    background-position-y: 2px;
}
#diDoctor_article .addLike{
    background: url('../images/event/like.png') no-repeat;
    height: 90px;
    background-size: 90px 90px;
}

/*福布斯专题*/
#forbes_section{
    top:0px;
}
#forbes_article .greenLine{
    width: 5px;
    height: 18px;
    background-color: #06C1AE;
    border-radius: 3px;
}
#forbes_article .addLike{
    background: url('../images/event/like.png') no-repeat;
    height: 90px;
    background-size: 90px 90px;
}

/*名医主刀*/
#myzd_section{
    top:0px;
}
#myzd_article .resourcesIcon{
    background: url('../images/event/resources.png') no-repeat;
    background-size: 21px 21px;
    padding-left: 25px;
    background-position-y: 1px;
}
#myzd_article .serviceIcon{
    background: url('../images/event/service.png') no-repeat;
    background-size: 21px 21px;
    padding-left: 25px;
    background-position-y: 1px;
}
#myzd_article .circularIcon{
    background: url('../images/event/circular.png') no-repeat;
    background-size: 21px 21px;
    padding-left: 25px;
    background-position-y: 1px;
}

/*新芽榜*/
#newList_section{
    top:0px;
}
#newList_article .addLike{
    background: url('../images/event/like.png') no-repeat;
    height: 90px;
    background-size: 90px 90px;
}

/*机器人*/
#robot_section{
    top:0px;
}
#robot_article .lineGreen{
    width:5px;
    background-color: #06C1AE;
    border-radius: 4px;
    height: 1em;
}

/*陆劲松*/
#lujinsong_article .askTitle {
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146345357856612') no-repeat;
    background-size: 110px 40px;
    height: 40px;
}

/*任善成*/
#renshancheng_article .askTitle {
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146345357856612') no-repeat;
    background-size: 110px 40px;
    height: 40px;
}

/*百万公益*/
#millionWelfare_article .yellowTitle {
    background-color: #fe8c08;
    padding: 2px 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
#millionWelfare_article .redTable {
    padding: 2px;
    color: #fff;
    background-color: #f56c6c;
    font-size: 12px;
}
#millionWelfare_article .stepImg {
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146345400349095') no-repeat;
    background-size: 100% 100%;
    height: 115px;
}
@media screen and (min-width: 300px){
    #millionWelfare_article .plStep {
        padding-left: 5px;
    }
}
@media screen and (min-width: 360px){
    #millionWelfare_article .plStep {
        padding-left: 10px;
    }
}
@media screen and (min-width: 300px){
    #millionWelfare_article .prStep {
        padding-right: 5px;
    }
}
@media screen and (min-width: 360px){
    #millionWelfare_article .prStep {
        padding-right: 10px;
    }
}

/*大事记*/
#bigEvent_article{
    background-color: #F0EFF4;
}
#bigEvent_article .january{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146346313425554') no-repeat;
    background-size: 14px;
}
#bigEvent_article .februaryStepOne{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146346313404230') no-repeat;
    background-size: 14px;
}
#bigEvent_article .februaryStepTwo{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146346313419932') no-repeat;
    background-size: 14px;
}
#bigEvent_article .februaryStepThree{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146346313411912') no-repeat;
    background-size: 14px;
}
#bigEvent_article .march{
    background: url('http://7xsq2z.com2.z0.glb.qiniucdn.com/146346313429555') no-repeat;
    background-size: 14px;
}

/*收到预约详情*/
#patientBookingView .list>li.noBorderTop:first-child {
    border-top: inherit;
}

/*支付成功*/
#payResult_header nav.right {
    width: auto;
    margin-top: 12px;
    padding: 0px 5px;
    background-color: inherit;
}
#payResult_article{
    background-color: #F1F1F1;
}